:root {
  --clr-nutmeg: hsl(14, 45%, 36%);
  --clr-darkRaspberry: hsl(332, 51%, 32%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-roseWhite: hsl(330, 100%, 98%);
  --clr-eggshell: hsl(30, 54%, 90%);
  --clr-lightGrey: hsl(30, 18%, 87%);
  --clr-wengeBrown: hsl(30, 10%, 34%);
  --clr-charcoal: hsl(24, 5%, 18%);
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  background-color: var(--clr-eggshell);
  font-family: "Outfit", sans-serif;
  color: var(--clr-wengeBrown);
}

section {
  margin-left: 2rem;
  margin-right: 2rem; 
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
}

li:not(:last-child) {
  padding-bottom: .75rem;
}

h1, h2 {
  font-family: "Young Serif", serif;
}

hr {
  color: var(--clr-lightGrey);
  margin-bottom: 1.5rem;
  margin: 1rem;
}

.recipe {
  background-color: var(--clr-white);
  width: 100%;
}


.recipe__image-container {
  padding: 0;
}

.recipe__img {
  margin-bottom: 1.5rem;
  object-fit: cover;
}

.recipe__text {
  /* padding: 0 1rem; */
  margin-bottom: 1.5rem;
}

.recipe__title {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  color: var(--clr-charcoal);
}

.recipe__description {
  margin-bottom: 1.5rem;
}

.recipe__time-container {
  background-color: var(--clr-roseWhite);
  padding: 1.5rem; 
  margin-bottom: 1.5rem;
  border-radius: 15px;
}


.recipe__time-details-container {
  padding: 1rem;
  padding-left: 0;
}

.recipe__time-header {
  color: var(--clr-darkRaspberry);
}

.recipe__time-details {
  list-style-position: inside;
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.5rem;
  padding-left: 1.6rem;
}

.recipe__time-details::marker {
  color: var(--clr-darkRaspberry);
}

.recipe__time-details-bold {
  font-weight: 700;
}

.recipe__ingredients-title {
  color: var(--clr-nutmeg);
  margin-bottom: 1.5rem;
}

.recipe__ingredients-list-container {
  padding-left: 0rem;
  margin-bottom: 1.5rem;
  list-style-position: outside;
}

.recipe__ingredients-list-item {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.5rem;
  padding-left: 1.6rem;
}

.recipe__ingredients-list-item::marker {
  color: var(--clr-nutmeg);
}

.recipe__instructions {
  padding: 0 1.5rem;
  margin-bottom: 1rem;
}

.recipe__instructions-title {
  color: var(--clr-nutmeg);
  text-indent: -1.5rem;
  margin-bottom: 1rem;
}

.recipe__instructions-list-container {
  padding-left: 0;
  /* list-style-position: outside; */
  margin-bottom: 1.5rem;
}

.recipe__instructions-list-item {
  list-style-position: inside;
  text-indent: -1.5rem;
  /* padding-left: 1rem; */
}

.recipe__instructions-list-item::marker {
  color: var(--clr-nutmeg);
  font-family: "Outfit", sans-serif;
}

.recipe__instructions-list-details {
  padding-left: .5rem;
  /* text-indent: 1rem; */
}

.recipe__instructions-bold {
  font-weight: 700;

}

.recipe__nutrition-title {
  color: var(--clr-nutmeg);
  margin-bottom: 1rem;
}

.recipe__nutrition-description {
  margin-bottom: 1rem;
}

.recipe__nutrition-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-bottom: 1rem;
  justify-content: end;
}

.recipe__nutrition-item {
  border-bottom: 1px solid var(--clr-lightGrey);
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.recipe__nutrition-item-details {
  border-bottom: 1px solid var(--clr-lightGrey);
  padding-bottom: .5rem;
  padding-top: .5rem;
  color: var(--clr-nutmeg);
  font-weight: 600;
}

/* xs */
@media (min-width: 475px) {
  .recipe {
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 20px;
    width: 90%;
  }

  .recipe__text {
    padding: 0;
  }

  .recipe__img {
    border-radius: 10px;
  }

  section {
    margin-left: 0;
    margin-right: 0;
  }

}

/* sm */
@media (min-width: 640px) {
  .recipe {
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 20px;
    width: 90%;
    max-width: 740px;
  }


}

/* md */
@media (min-width: 768px) {
  .recipe {
    padding: 2rem;
  }
}

/* lg */
@media (min-width: 1024px) {

}

/* xl */
/* @media (max-width: 1280px) {} */

/* 2xl */
/* @media (max-width: 1536px) {} */
